/* base in index.css */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --accent: 0, 85, 255;
    /* color: #0055ff; */

    --text: 30, 30, 30;

    --background: 30, 30, 30;
}

html,
body {
    font-size: 100%;
    overflow-x: hidden;
    color: black;
    scroll-behavior: smooth;

    /* scrollbar ONLY for mozilla, scrollbar-width - "auto" or "thin"  */
    scrollbar-width: thin;
    scrollbar-color: var(--accent) gray;
}

/* custom scroll bar in body (mobile not work) */
body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-track {
    background: black;
}

body::-webkit-scrollbar-thumb {
    background: rgba(var(--accent), 0.6);
    border-radius: 999px;
}



/* ALL */

a {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.img {
    width: 100%;
    height: 100%;
    display: block;
}


.textAccent {
    color: rgb(var(--accent));
}

.textMain1 {
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
    font-weight: 600;
    color: rgb(var(--accent));
    letter-spacing: 1.2px;
}

.textMain2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
}

.textMain3 {
    font-size: 1rem;
    padding-top: 1rem;
    color: rgb(var(--text));
    font-weight: 400;
    line-height: 2rem;
}

.colorWhite {
    color: white;
}



/* section NAV */

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(var(--background));
    z-index: 200;
}

.nav__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav__logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.nav__figure {
    height: 4rem;
    width: 4rem;
}

.nav__logoDesc {
    padding-left: 1rem;
    display: flex;
}

.nav__logoText1 {
    font-size: 2rem;
    color: white;
    font-family: 'Kalam', cursive;
    font-weight: 600;
}

.nav__logoText2 {
    font-size: 2rem;
    color: rgb(var(--accent));
    font-family: 'Kalam', cursive;
    font-weight: 600;
}

.nav__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 4rem;
    right: -50%;
    background: rgb(var(--background));
    height: calc(100vh - 4rem);
    width: 50%;
    transition: transform .6s ease;
    cursor: pointer;
}

.nav__line {
    display: none;
    height: 4rem;
    width: 2rem;
    background: rgb(var(--accent));
    z-index: 500;
    clip-path: polygon(75% 0, 100% 0, 25% 100%, 0 100%);
}

.listOpen {
    transform: translateX(-100%);
}

.nav__a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 1rem;
}

/* burger */

.burgerMenu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.burgerBtn {
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burgerBtn::before,
.burgerBtn::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 3px;
    background: white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.burgerBtn::before {
    transform: translateY(-8px);
}

.burgerBtn::after {
    transform: translateY(8px);
}

.burgerOpen .burgerBtn {
    transform: translateX(-50px);
    background: transparent;
}

.burgerOpen .burgerBtn::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.burgerOpen .burgerBtn:after {
    transform: rotate(-45deg) translate(35px, 35px);
}

@media (min-width: 800px) {

    .nav__container {
        max-width: 1200px;
        margin: auto;
    }

    .burgerMenu {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        position: initial;
        height: unset;
        width: unset;
    }

    .nav__line {
        display: block;
    }
}

/* burger end */



/* section START */

.start {
    background: rgb(var(--background));
    margin-top: 4rem;
    height: calc(100vh - 4rem);
    width: 100%;
    position: relative;
    z-index: -1;
}

.start__figure {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation: swipe 2s ease-in-out;
}

@keyframes swipe {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.start__figureSwipe {
    transform: translateY(0);
}

.start__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.start__blackFilter {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    opacity: .5;
    z-index: 1;
}

.start__descTextContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.start__text1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: white;
    font-family: 'Kalam', cursive;
    text-decoration: underline;
    text-decoration-color: rgb(var(--accent));
    letter-spacing: 1.2rem;
}

.start__tex2Container {
    display: flex;
    flex-direction: row;
}

.start__text2 {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    padding: 2rem 0 0 0;
}

.start__text3 {
    font-size: 2rem;
    font-weight: 600;
    color: rgb(var(--accent));
    padding: 2rem 0 0 2rem;
}


.start__textBig {
    font-size: 6rem;
}

.start__arrow {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    width: 2rem;
    height: 2rem;
    border: solid rgb(var(--accent));
    border-width: 0.5rem 0.5rem 0 0;
    transform: rotate(135deg) translate(40%);
    animation: moveArrow 1s ease-in-out infinite;
    z-index: 1;
}

@keyframes moveArrow {
    50% {
        transform: rotate(135deg) translateY(40%);
    }
}



/* section ABOUT */

.about {
    background-color: white;

}

.about__container {
    position: relative;
    max-width: 1400px;
    margin: auto;
    padding: 8rem 1rem 8rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about {
    position: absolute;
    left: 0;
    right: 0;
    top: -4rem;
}

.about__figure {
    flex: 1;
    width: 100%;
    height: 100%;
}

.about__descContainer {
    flex: 1;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

/* section OFFER */

.offer {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 100%), url("./assets/bathroomBackground.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}

@supports (-webkit-overflow-scrolling: touch) {
    .offer {
        background-attachment: scroll;
    }
}

.offer__container {
    position: relative;
    max-width: 1400px;
    margin: auto;
    padding: 8rem 1rem 8rem 1rem;
    display: flex;
    flex-direction: column;
}

#offer {
    position: absolute;
    left: 0;
    right: 0;
    top: -4rem;
}

.offer__descContainer {
    padding: 0 0 2rem 0;
    display: flex;
    flex-direction: column;
}

.offer__itemsContainer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.offer__item {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.offer__figure {
    width: 8rem;
    height: 8rem;
    clip-path: circle(50%);
}

.offer__itemTitle {
    padding-top: 2rem;
    font-size: 1.5rem;
    color: rgb(var(--accent));
}

.offer__itemText {
    font-size: 1rem;
    padding-top: 1rem;
    line-height: 1.5rem;
}

/* section WHY */

.why {
    background: white;

}

.why__container {
    max-width: 1400px;
    margin: auto;
    padding: 8rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why__descContainer {
    flex: 1;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.why__textContainer {
    display: flex;
}

.why__number {
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
    font-weight: 600;
    color: rgb(var(--accent));
    letter-spacing: 1.2px;
    padding: 1rem 1rem 0 0;
}

.why__figure {
    order: -1;
    flex: 1;
    width: 100%;
    height: 100%;
}


/* section INVESTMENT */

.investment {
    background: rgb(var(--background));
}

.investment__container {
    max-width: 1920px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.investment__figure1,
.investment__figure2 {
    flex: 2;
}

.investment__figure1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    align-self: flex-end;
}

.investment__figure2 {
    clip-path: polygon(0 0, 100% 20%, 100% 100%, 0 100%);
    align-self: flex-start;
}


.investment__textContainer {
    max-width: 60%;
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


/* section REALIZATIONS */

.realizations {
    background: white;
    position: relative;
    padding: 8rem 0;
    display: flex;
    flex-direction: column;
}

#realizations {
    position: absolute;
    left: 0;
    right: 0;
    top: -4rem;
}

.realizations__descContainer {
    padding: 0 1rem;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.realizations__figure {
    width: 100%;
    height: 100%;
}

.swiper {
    padding-top: 1rem;
    background: white;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

/* paginations (dot) color */
.swiper-pagination-bullet-active {
    background: rgb(var(--accent)) !important;
}

/* arrows color */
.swiper-button-prev,
.swiper-button-next {
    color: rgb(var(--accent)) !important;
}

/* arrows size */
.swiper-button-next::after,
.swiper-button-prev:after {
    font-size: 3rem !important;
}

/* image container */
.swiper-slider-ontainer-custom {
    background: white;
    padding: 0.5rem;
}


/* section ADVICE */

.advice {
    background: rgba(var(--background));
    overflow: hidden;
}

.advice__container {
    max-width: 1920px;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

.advice__figure {
    flex: 1;
}

.advice__textContainer {
    width: 80%;
    margin: -4rem auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.8);
    padding: 1rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}



/* section CONTACT */

.contact {
    background: white;
}

.contact__containerMain {
    padding: 8rem 1rem;
    position: relative;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contact {
    position: absolute;
    left: 0;
    right: 0;
    top: -4rem;
}

.contact__figure {
    flex: 1;
}

.contact__container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.contact__descContainer {
    display: flex;
    flex-direction: column;
}

.contact__items {
    display: flex;
    flex-direction: column;
}

.contact__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1rem;
}

.contact__item:active {
    box-shadow: 0 0 10px rgba(var(--accent), 0.6);
}

.contact__itemIcon {
    width: 2rem;
    height: 2rem;
    fill: rgb(var(--accent));
}

.contact__itemText {
    font-size: 1rem;
    font-weight: 600;
    color: black;
    padding-left: 1rem;
}


/* section MAP */

.map {
    width: 100%;
    height: 20rem;
}

.map__iframe {
    width: 100%;
    height: 100%;
}


/* section FOOTER */

.footer {
    background: rgb(243, 244, 245);
    padding: 2rem 1rem 1rem 1rem;
}

.footer__container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer__topPart {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__column {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.footer__columnContainer {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
}

.footer__text1 {
    font-size: 1.5rem;
    font-family: 'Kalam', cursive;
    font-weight: 600;
    color: rgb(var(--accent));
    letter-spacing: 1.2px;
}

.footer__text2 {
    font-size: 2rem;
    padding-top: 2rem;
    color: black;
}

.footer__text3 {
    font-size: 1rem;
    color: rgb(var(--text));
    font-weight: 400;
    line-height: 2rem;
}

.footer__bottomPart {
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
}

.footer__Copyright {
    font-size: 1rem;
    color: black;
    padding-bottom: 1rem;
}

.footer__text {
    font-size: 1rem;
    color: black;
}

.footer__designed {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;

}

.footer__figure {
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    display: block;
}


/* MEDIA */


@media (min-width: 500px) {

    .offer__itemsContainer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 800px) {

    .textMain2 {
        font-size: 2.5rem;
    }

    .about__container {
        flex-direction: row;
    }

    .start__text1 {
        font-size: 6rem;
    }

    .start__text2 {
        font-size: 4rem;
    }

    .start__text3 {
        font-size: 4rem;
    }

    .start__textBig {
        font-size: 10rem;
    }

    .about__descContainer {
        padding: 0 1rem;
    }

    .offer__itemsContainer {
        grid-template-columns: repeat(3, 1fr);
    }

    .why__container {
        flex-direction: row;
    }

    .why__descContainer {
        padding: 0 1rem;
    }

    .why__figure {
        order: 1;
    }

    .investment__container {
        flex-direction: row;
    }

    .investment__figure1 {
        clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
    }

    .investment__figure2 {
        clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
    }

    .advice__textContainer {
        max-width: 50rem;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;

    }

    .advice__figure {
        max-height: 20rem;
    }

    .footer__topPart {
        flex-direction: row;
    }

    .contact__containerMain {
        flex-direction: row;
    }

    .contact__container {
        padding: 0 1rem;
    }

    .footer__bottomPart {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width: 1200px) {

    .advice__container {
        flex-direction: row;
    }

    .advice__figure {
        max-height: 200rem;
    }
}